.popup-content {
  overflow: hidden;
  font-size: 14px;
}
#popup-text {
  position: relative;
  color: white;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#popup-text:before {
  position: absolute;
  z-index: -1;
  top: -50px;
  bottom: 0;
  left: -50px;
  display: block;
  width: calc(100% + 100px);
  background: #14427d;
  content: "";
}
#popup-text h2,
#popup-text h3,
#popup-text h4 {
  color: white;
}
#popup-text > *:last-child {
  margin-bottom: 0;
}
.eu-cookie-compliance-language-switch li {
  border-color: white;
}
.eu-cookie-compliance-language-switch .language-link {
  font-size: 12px;
  color: white;
}
.eu-cookie-compliance-language-switch .language-link.active {
  font-weight: bold;
  text-decoration: underline;
}
.eu-cookie-compliance-category {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.eu-cookie-compliance-category-switch {
  flex-shrink: 0;
  margin-left: 20px;
}
a.eu-cookie-compliance-rocketship--dynamic-accept:not([class^=contextual-links]) {
  padding: 10px 15px;
  font-size: 16px;
  line-height: 22px;
}
.eu-cookie-compliance-message a:hover,
.eu-cookie-compliance-message a:focus {
  color: #62bdc2;
}
.eu-cookie-compliance-message a:hover {
  border-bottom: 1px solid #62bdc2;
}

/* Styling for small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {
}

/* Styling for medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .eu-cookie-compliance-rocketship--accept-all-wrapper {
    flex-shrink: 0;
    margin-top: 0;
  }
}
