/* General */
body #sliding-popup {
  background: none;
}
#sliding-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}
#sliding-popup .eu-cookie-compliance-banner-info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  min-height: 100vh;
}
#sliding-popup .eu-cookie-compliance-banner-info:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}
#sliding-popup .eu-cookie-compliance-banner-info .popup-content {
  position: relative;
  display: block;
  max-width: 470px;
  width: calc(100vw - 40px);
  margin: 0 20px;
  padding: 30px;
  background: #ffffff;
  z-index: 1;
}
#sliding-popup .eu-cookie-compliance-banner-info .popup-content #popup-text {
  width: 100%;
  max-width: none;
  float: none;
}

/* Categories */
.eu-cookie-compliance-banner-info .eu-cookie-compliance-categories {
  display: none;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category.disabled {
  opacity: 0.5;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-label {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-label .state-label {
  display: none;
  text-transform: uppercase;
  color: #00b99b;
  margin-left: 10px;
  font-size: 10px;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-label .state-label.visible {
  display: inline-block;
}

/* Language switcher */
.eu-cookie-compliance-language-switch {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  list-style: none;
}

.eu-cookie-compliance-language-switch li {
  display: inline-block;
  border-right: solid 1px;
  line-height: 1;
}

.eu-cookie-compliance-language-switch li:last-of-type {
  border-right: none;
}

.eu-cookie-compliance-language-switch li .language-link {
  display: inline-block;
  padding: 0 10px;
}

/* Checkbox to toggle */
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch {
  display: inline-block;
  height: 23px;
  position: relative;
  width: 45px;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch .toggle {
  background-color: #adadad;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .2s;
  border-radius: 23px;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch .toggle:before {
  background-color: #ffffff;
  bottom: 3px;
  content: "";
  height: 17px;
  left: 3px;
  position: absolute;
  transition: .2s;
  width: 17px;
  border-radius: 50%;
}
.eu-cookie-compliance-rocketship--buttons .button:focus {
  outline: 2px solid black;
}

.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch input:checked + .toggle {
  background-color: #00b99b;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch input:checked + .toggle:before {
  transform: translateX(22px);
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-category-switch input[disabled] + .toggle {
  pointer-events: none;
}

/* Custom buttons */
.eu-cookie-compliance-banner-info .eu-cookie-compliance-categories-buttons {
  display: none;
}
.eu-cookie-compliance-banner-info #popup-buttons {
  display: none;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-rocketship--buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
.eu-cookie-compliance-banner-info .eu-cookie-compliance-rocketship--buttons a[href=""] {
  pointer-events: all;
  width: 100%;
}
.eu-cookie-compliance-rocketship--accept-selection-wrapper {
  display: none;
}
