{#
/**
 * @file
 * This is a template file for a banner prompting user to give their consent for
 * the website to set cookies.
 *
 * When overriding this template it is important to note that jQuery will use
 * the following classes to assign actions to buttons:
 *
 * agree-button      - agree to setting cookies
 * find-more-button  - link to an information page
 *
 * Variables available:
 * - message:  Contains the text that will be display whithin the banner
 * - agree_button: Label for the primary/agree button. Note that this is the
 *   primary button. For backwards compatibility, the name remains agree_button.
 * - disagree_button: Contains Cookie policy button title. (Note: for historical
 *   reasons, this label is called "disagree" even though it just displays the
 *   privacy policy.)
 * - secondary_button_label: Contains the secondary button label. The current
 *   action depends on whether you're running the module in Opt-out or Opt-in
 *   mode.
 * - primary_button_class: Contains class names for the primary button.
 * - secondary_button_class: Contains class names for the secondary button
 *   (if visible).
 * - cookie_categories: Contains a array with cookie categories that can be
 *   agreed or disagreed to separately.
 * - save_preferences_button_label: Label text for a button to save the consent
 *   preferences.
 *   category cannot be unchecked.
 * - privacy_settings_tab_label: Label text for the Privacy settings tab.
 * - withdraw_button_on_info_popup: Show the withdraw button on this popup.
 * - method: Chosen consent method.
 * - lang_switcher: Rendered language switcher as links
 * - accept_minimal: The accept minimal cookies link
 * - dynamic_accept: The dynamic accept link (changes based on preferences altered or not)
 * - state_on: A label used to mark certain categories as enabled
 */
#}
{% if privacy_settings_tab_label %}
  <button type="button" class="eu-cookie-withdraw-tab">{{ privacy_settings_tab_label }}</button>
{% endif %}
{% set classes = [
  'eu-cookie-compliance-banner',
  'eu-cookie-compliance-banner-info',
  'eu-cookie-compliance-banner--' ~ method|clean_class,
] %}
<div{{ attributes.addClass(classes) }}>
  <div role="dialog" id="cookie_dialog" aria-labelledby="popup-text" aria-modal="true" class="popup-content info eu-cookie-compliance-content">
    {{ lang_switcher }}
    <div id="popup-text" class="eu-cookie-compliance-message">
      {{ message }}
      {% if more_info_button %}
        <button type="button" class="find-more-button eu-cookie-compliance-more-button">{{ more_info_button }}</button>
      {% endif %}
    </div>

    {% if cookie_categories %}
      <div id="eu-cookie-compliance-categories" class="eu-cookie-compliance-categories">
        {% for key, category in cookie_categories %}
          <div class="eu-cookie-compliance-category{% if category.checkbox_default_state == "required" %} disabled{% endif %}">
            <div class="eu-cookie-compliance-category-info">
              <div class="eu-cookie-compliance-category-label">
                {{ category.label }}
                <span class="state-label{% if category.checkbox_default_state in ['checked', 'required'] %} visible{% endif %}">
                  {{ state_on }}
                </span>
              </div>
              {% if category.description %}
                <div class="eu-cookie-compliance-category-description">{{ category.description }}</div>
              {% endif %}
            </div>
            <label role="checkbox" for="cookie-category-{{ key }}" class="eu-cookie-compliance-category-switch"
              {% if category.checkbox_default_state == "required" %} tabindex="-1"{% else %} tabindex="0" {% endif  %}>
              <input class="visually-hidden" type="checkbox" name="cookie-categories" id="cookie-category-{{ key }}"
                     tabindex="-1"
                     value="{{ key }}"
                     autocomplete="off"
                {% if category.checkbox_default_state in ['checked', 'required'] %} checked {% endif %}
                {% if category.checkbox_default_state == 'required' %} disabled {% endif %} >
              <div class="toggle">
                <span class="visually-hidden">{{ key }}</span>
              </div>
            </label>
          </div>
        {% endfor %}
        {% if save_preferences_button_label %}
          <div class="eu-cookie-compliance-categories-buttons">
            <button type="button"
                    class="eu-cookie-compliance-save-preferences-button">{{ save_preferences_button_label }}</button>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div id="popup-buttons" class="eu-cookie-compliance-buttons{% if cookie_categories %} eu-cookie-compliance-has-categories{% endif %}">
      <button type="button" class="{{ primary_button_class }}">{{ agree_button }}</button>
      {% if secondary_button_label %}
        <button type="button" class="{{ secondary_button_class }}">{{ secondary_button_label }}</button>
      {% endif %}
    </div>

    <div class="eu-cookie-compliance-rocketship--buttons">
      <div class="eu-cookie-compliance-rocketship--accept-selection-wrapper" >{{ accept_selection }}</div>
      <div class="eu-cookie-compliance-rocketship--accept-minimal-wrapper">{{ accept_minimal }}</div>
      <div class="eu-cookie-compliance-rocketship--accept-all-wrapper">{{ accept_all }}</div>
      <div class="eu-cookie-compliance-rocketship--manage-selection-wrapper">{{ manage_selection }}</div>
    </div>
  </div>
</div>
